/**
 * Condensed Fix Styles
 * --------------------------------------------------
 */
.section_content {
  font-size: 14px !important; }

.panel-flexible .panel-separator {
  margin: 0 !important; }

.main-menu li a {
  padding-bottom: 11px !important;
  font-size: larger !important;
  font-weight: 600 !important;
  color: #89898A !important;
  display: block !important;
  border: none !important; }

.main-menu li a:hover {
  color: #EE5835;
  border-bottom: 3px solid #EE5835; }

.main-menu .view-header {
  display: inline-block;
  position: relative;
  margin: 0 10px;
  margin-bottom: -3px; }

.main-menu .view {
  border-bottom: 3px solid #F59332; }

.main-menu .views-row {
  display: inline-block;
  position: relative;
  margin: 0 10px;
  padding: 10px;
  padding-bottom: 0;
  margin-bottom: -3px; }

.main-menu .views-row .active,
.main-menu a:hover {
  border-bottom: 3px solid #EE5835; }

.main-menu .view-content {
  display: inline-block;
  margin-bottom: 0;
  width: 80%;
  overflow: visible; }

.main-menu .menu .children_menu {
  border: none !important; }

.main-menu .menu .children_menu ul {
  border: none !important;
  display: block; }

.main-menu .menu .children_menu li {
  display: inline-block;
  width: 100%; }

#microsite_panel .pane-content > .menu li.expanded > a {
  background: none; }

.left-menu {
  float: initial !important;
  display: inline-block;
  margin-top: 15px; }

.left-menu .views-row {
  padding: 10px;
  margin-bottom: 5px;
  background-image: linear-gradient(to left, #83C24C, #83C24C 97%, #4E8F00 50%, #4E8F00);
  background-size: cover;
  background-repeat: no-repeat; }

.left-menu .views-row:hover {
  background-image: linear-gradient(to left, #4E8F00, #4E8F00 97%, #83C24C 50%, #83C24C); }

.left-menu .views-row a {
  color: #fff;
  display: block; }

.left-menu .view-header {
  padding: 5px;
  background: #4E8F00;
  margin-bottom: 5px;
  color: #fff;
  text-align: center; }

.slider {
  margin: 15px 0; }

.slider .views-row {
  position: relative; }

.slider .views-slideshow-controls-top {
  position: absolute;
  top: 40%;
  width: 100%;
  z-index: 10; }

.slider .views-slideshow-controls-text {
  margin-right: 30px; }

.slider .views-slideshow-controls-text-pause {
  display: none; }

.slider .views-slideshow-controls-text-next {
  float: right; }

.slider .views-slideshow-controls-text-previous a {
  margin-left: 10px;
  color: transparent;
  padding-bottom: 25px; }

.slider .views-slideshow-controls-text-next a {
  color: transparent;
  padding-bottom: 25px; }

.slider .views-field-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background: rgba(0, 0, 0, 0.48); }

.slider .views-field-body {
  position: absolute;
  top: 0;
  padding: 2% 9%; }

.slider .views-field-title a,
.slider .views-field-body h2,
.slider .views-field-body p {
  color: #fff; }

.slider .views-field-title a {
  font-size: larger;
  font-weight: 500; }

.slider .views-field-body h2 {
  font-size: x-large; }

.slider .views-field-body p {
  padding: 0 15px;
  max-height: 62px;
  overflow-wrap: break-word;
  overflow: hidden; }

.slider .views-field-nothing {
  position: absolute;
  bottom: 0;
  right: 0; }

.slider .views-field-nothing a {
  padding: 11px 30px;
  background: #83C24C;
  border-color: #83C24C;
  border-radius: 0; }

.slider .views-field-nothing a:hover {
  background: #4E8F00;
  border-color: #4E8F00; }

.main-content {
  margin-top: 15px;
  padding-bottom: 15px; }

.main-content h3,
.home h3 {
  background: #EE5835;
  padding: 5px;
  padding-left: 25px;
  color: #fff;
  margin-top: 0;
  margin-bottom: 0; }

.main-content h4 {
  color: #FC5141; }

.main-content p,
.main-content ol,
.main-content ul,
.main-content h4,
.main-content .container-fluid {
  border-left: 1px solid #CBCBCB;
  border-right: 1px solid #CBCBCB;
  padding: 10px; }

.main-content p:last-child {
  border-bottom: 1px solid #CBCBCB; }

.main-content .image {
  float: left;
  margin: 10px;
  margin-bottom: 0; }

.main-content ol,
.main-content ul {
  -webkit-padding-start: 40px; }

.main-content li {
  list-style: inherit; }

.main-content .panel {
  margin-left: 2px;
  margin-top: 15px;
  padding: 0; }

.main-content .panel-heading {
  text-align: center;
  background: #818181;
  color: #fff; }

.main-content .panel-body {
  padding: 9px;
  background: silver; }

.main-content .panel-body a {
  display: block;
  font-size: smaller;
  color: #818181;
  text-decoration: none; }

.main-content .panel-body:hover {
  background: #fff; }

.main-content .panel-body:hover span {
  color: #818181; }

.main-content span {
  padding-top: 10px;
  margin: auto;
  display: inherit;
  color: #fff; }

.icon-file {
  width: 37px;
  height: 46px; }

.icon-hat {
  width: 67px;
  height: 47px; }

.icon-people {
  width: 68px;
  height: 46px; }

.icon-book {
  width: 61px;
  height: 46px; }

.icon-book-green {
  width: 61px;
  height: 46px; }

.icon-media {
  width: 50px;
  height: 46px; }

.icon-mesh {
  width: 70px;
  height: 45px; }

.footer {
  padding-bottom: 15px; }

.footer a {
  float: right;
  margin-left: 20px; }

.footer .google {
  width: 159px;
  height: 58px;
  background-color: #2A2A2A; }

.footer .pdf {
  width: 159px;
  height: 58px;
  background-color: #818181; }

.panels-flexible-region {
  background: #F7F7F7; }

.left-menu .panel-heading {
  background: #4E8F00; }

.left-menu .panel-body {
  background: #fff; }

.left-menu .panel-body:hover,
.left-menu .panel-body:hover span,
.left-menu .panel-body:hover a {
  background: #83C24C;
  color: #fff; }

.left-menu .panel-body a,
.left-menu .panel-body span {
  color: #4E8F00; }

.section_content,
.breadcrumb {
  background: transparent !important; }

.main-content iframe {
  width: 100%;
  height: 700px; }

.streaming iframe {
  margin-left: 9px;
  width: 620px;
  height: 350px; }

.home iframe {
  width: 100%;
  height: 500px; }

.video-left-menu iframe {
  margin-top: 0;
  height: auto; }

@media (max-width: 767px) {
  .main-menu {
    margin-right: 20px; }

  .main-menu li {
    width: 100%;
    border-bottom: 3px solid #F59332; }

  #microsite_panel .pane-content > .menu li.parent_menu {
    position: relative; }

  #microsite_panel .menu .children_menu {
    height: auto !important;
    position: relative !important; }

  #microsite_panel .menu .children_menu li {
    border: none !important;
    margin-top: 5px;
    margin-bottom: 5px;
    text-decoration: underline; }

  .main-menu .view-header {
    width: 100%;
    margin: 0; }

  .main-menu .views-row {
    width: 100%;
    border-bottom: 3px solid #F59332; }

  .main-menu .view-content {
    width: 100%; }

  .main-menu .view {
    border-bottom: none; }

  .slider .views-field-body {
    display: none; } }
@media (max-width: 793px) {
  #microsite_panel .main-menu {
    margin-right: 20px; }

  #microsite_panel .main-menu .view-header {
    width: 100%;
    margin: 0; }

  #microsite_panel .main-menu .views-row {
    width: 100%;
    border-bottom: 3px solid #F59332; }

  #microsite_panel .main-menu .view-content {
    width: 100%; }

  #microsite_panel .main-menu .view {
    border-bottom: none; }

  .slider .views-field-body {
    display: none; } }
@media (max-width: 767px) {
  .left-menu {
    width: 100%; }

  .left-menu .views-row {
    background-image: linear-gradient(to left, #83C04C, #83C04C 97%, #68844F 50%, #68844F); } }
@media (min-width: 992px) {
  .col-md-2 {
    width: 19%;
    margin-left: 0; } }
* {
  -webkit-box-sizing: unset;
  -moz-box-sizing: unset;
  box-sizing: unset; }

body {
  font-family: 'segoe UI', 'segoe UI web', 'segoe UI xp', 'arial', 'helvetica'; }

.main_container * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@media (min-width: 768px) {
  body {
    font-size: 14px !important; }

  .top_menu {
    font-size: 11px !important; } }
@media (max-width: 767px) {
  body {
    font-size: 12px !important; } }
.accordion_inter {
  color: #FFF;
  width: 100%;
  font-size: 14px;
  padding: 15px;
  box-sizing: border-box; }

.accordion_inter .accordion_inter_section {
  width: 100%; }

.accordion_inter .accordion_inter_section input[type='radio']:checked ~ .accordion_inter_content {
  max-height: 600px;
  opacity: 1;
  z-index: 10; }

.accordion_inter .accordion_inter_section label {
  position: relative;
  cursor: pointer;
  padding: 10px 20px;
  color: #15122E;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  display: table;
  background: #E7B011;
  text-transform: uppercase;
  width: 100%;
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  -ms-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

.accordion_inter .accordion_inter_section label:before {
  content: " ";
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  height: 1px; }

.accordion_inter .accordion_inter_section label:hover {
  background: #CFB055; }

.accordion_inter .accordion_inter_section label span {
  display: table-cell;
  vertical-align: middle;
  color: #15122E; }

.accordion_inter .accordion_inter_section input[type='radio'] {
  display: none; }

.accordion_inter .accordion_inter_section input[type='radio']:checked + label {
  background: #E7B011; }

.accordion_inter .accordion_inter_section input[type='radio']:checked + label span {
  color: #15122E !important; }

.accordion_inter ul {
  width: 100%;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  list-style: none; }

.accordion_inter ul li {
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  color: #737276; }

.accordion_inter ul li i {
  font-size: 13px;
  width: 15px;
  margin-right: 15px;
  color: #737276; }

.accordion_inter ul li:hover {
  cursor: pointer; }

.accordion_inter ul li:hover i {
  color: #737276; }

.accordion_inter .accordion_inter_section .accordion_inter_content {
  max-height: 0;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
  position: relative;
  overflow-y: hidden;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  background: #FFF; }

.accordion_inter .accordion_inter_section input[type='radio'] {
  display: none; }

.accordion_inter .accordion_inter_section input[type='radio']:checked ~ .accordion_inter_content {
  padding: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

h1.logo {
  margin-top: 0; }

/**
* Variables
* --------------------------------------------------
*/
/**
 * Mixins
 * --------------------------------------------------
 */
/**
 * General Styles
 * --------------------------------------------------
 */
.site-eduprivada .main_container {
  background: #d5e3e6;
  background: -moz-linear-gradient(left, #d5e3e6 0%, #5d90aa 50%, #d5e3e6 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #d5e3e6), color-stop(50%, #5d90aa), color-stop(100%, #d5e3e6));
  background: -webkit-linear-gradient(left, #d5e3e6 0%, #5d90aa 50%, #d5e3e6 100%);
  background: -o-linear-gradient(left, #d5e3e6 0%, #5d90aa 50%, #d5e3e6 100%);
  background: -ms-linear-gradient(left, #d5e3e6 0%, #5d90aa 50%, #d5e3e6 100%);
  background: linear-gradient(to right, #d5e3e6 0%, #5d90aa 50%, #d5e3e6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5e3e6', endColorstr='#d5e3e6', GradientType=1 ); }
.site-eduprivada #microsite_panel {
  background-color: #b7d0d3;
  min-height: 820px;
  position: relative; }
.site-eduprivada .content p a {
  text-decoration: underline;
  cursor: pointer;
  color: #EBA95E; }
  .site-eduprivada .content p a:hover {
    color: #94642d; }
.site-eduprivada .section_content .breadcrumb {
  margin-bottom: 0px;
  height: 40px; }
.site-eduprivada .section_content p {
  margin-top: 10px !important;
  color: #666666 !important; }
.site-eduprivada .home-content .view-content ul {
  padding-left: 40px !important; }
.site-eduprivada .home-content .view-content li {
  margin-top: 5px !important;
  list-style: initial !important; }
.site-eduprivada .home-content .view-content .home-image {
  background: url("http://52.37.84.217/edu-privada/img/img_home.jpg") no-repeat center/contain;
  min-height: 150px; }
.site-eduprivada .registration-content .row > * {
  text-align: center;
  margin: 15px 0; }
.site-eduprivada .media {
  margin: 30px 0; }
  .site-eduprivada .media .media-left a {
    width: 110px;
    display: block; }
  .site-eduprivada .media .media-body .media-heading {
    margin-top: 0 !important; }
@media (min-width: 1100px) {
  .site-eduprivada .main_container .section_content {
    width: 1024px !important; } }
@media (min-width: 992px) and (max-width: 1024px) {
  .site-eduprivada #microsite_panel {
    overflow: hidden; } }
@media (min-width: 768px) {
  .site-eduprivada .content .modal-dialog {
    width: 600px;
    margin: 15% auto; }
  .site-eduprivada .row-center-sm {
    display: flex;
    align-items: center; } }
@media (min-width: 768px) and (max-width: 1024px) {
  .site-eduprivada #banner .view .view-content {
    margin-bottom: 0 !important; } }
@media (max-width: 767px) {
  .site-eduprivada .section_container.no_left_sidebar .section_content {
    width: 100% !important; } }

/**
 * Headings Styles
 * --------------------------------------------------
 */
.content-header-styles, .site-eduprivada .content h1, .site-eduprivada .content h2, .site-eduprivada .content h3, .site-eduprivada .content h4 {
  font-weight: normal;
  color: #1F2B49;
  margin-bottom: 0px !important; }

.site-eduprivada .content h1 {
  color: #162a55;
  margin-top: 30px;
  font-size: 30px; }
.site-eduprivada .content h2 {
  font-size: 20px;
  color: #162a55;
  margin-top: 25px;
  font-weight: 600; }
.site-eduprivada .content h3 {
  font-size: 16px;
  color: #162a55;
  font-weight: 600;
  margin-top: 20px;
  display: inline-block;
  padding-right: 10px; }
.site-eduprivada .content h4 {
  color: #162a55;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  margin-top: 15px; }
.site-eduprivada h2.title {
  display: none; }

/**
 * Main Menu Styles
 * --------------------------------------------------
 */
.site-eduprivada #microsite_panel .slide .pane-content > .menu {
  background-color: #eef8f8 !important;
  padding: 5px 15px;
  border: 1px solid #a7bec2;
  border-radius: 7px;
  margin-top: 15px; }
  .site-eduprivada #microsite_panel .slide .pane-content > .menu li.parent_menu:last-child > a {
    border: none; }
    .site-eduprivada #microsite_panel .slide .pane-content > .menu li.parent_menu:last-child > a:hover {
      border-bottom: 4px solid #a7bec2; }
  .site-eduprivada #microsite_panel .slide .pane-content > .menu li.parent_menu > a {
    border-right: 1px solid transparent;
    padding: 10px 5px !important;
    font-size: 15px !important;
    text-align: left;
    color: #1f0d2e;
    font-weight: 700;
    border-bottom: 4px solid #a7bec2; }
  .site-eduprivada #microsite_panel .slide .pane-content > .menu li.parent_menu > .children_menu {
    top: 95%;
    height: 0px;
    background: transparent;
    z-index: 100;
    position: relative; }
    .site-eduprivada #microsite_panel .slide .pane-content > .menu li.parent_menu > .children_menu li {
      display: block; }
      .site-eduprivada #microsite_panel .slide .pane-content > .menu li.parent_menu > .children_menu li:first-child {
        border-top: none; }
      .site-eduprivada #microsite_panel .slide .pane-content > .menu li.parent_menu > .children_menu li:last-child {
        border-bottom: none; }
      .site-eduprivada #microsite_panel .slide .pane-content > .menu li.parent_menu > .children_menu li a {
        background-color: #eef8f8 !important;
        border-bottom: 1px solid rgba(153, 153, 153, 0.4) !important;
        color: #1f0d2e !important;
        line-height: 14px;
        font-size: 14px !important;
        height: auto;
        padding: 15px;
        font-weight: 600; }
        .site-eduprivada #microsite_panel .slide .pane-content > .menu li.parent_menu > .children_menu li a:hover {
          background: white !important;
          color: #1f0d2e !important;
          text-decoration: none;
          padding: 18px 15px !important;
          display: block;
          font-weight: 700;
          -webkit-transition: all 0.2s ease;
          -moz-transition: all 0.2s ease;
          -ms-transition: all 0.2s ease;
          -o-transition: all 0.2s ease;
          transition: all 0.2s ease; }
  .site-eduprivada #microsite_panel .slide .pane-content > .menu li:hover {
    color: #1f0d2e;
    text-decoration: none !important;
    background-color: rgba(31, 13, 46, 0.1); }
  .site-eduprivada #microsite_panel .slide .pane-content > .menu li.expanded > a:hover {
    color: #1f0d2e !important;
    background-color: rgba(31, 13, 46, 0.1); }
  .site-eduprivada #microsite_panel .slide .pane-content > .menu:hover {
    color: #1f0d2e !important;
    text-decoration: none !important; }
    .site-eduprivada #microsite_panel .slide .pane-content > .menu:hover li.parent_menu > .children_menu:hover {
      background-color: #0b204e;
      height: auto; }
    .site-eduprivada #microsite_panel .slide .pane-content > .menu:hover li.parent_menu > .children_menu > a:hover {
      color: #1f0d2e !important;
      text-decoration: none !important; }
    .site-eduprivada #microsite_panel .slide .pane-content > .menu:hover li.parent_menu:hover > .children_menu {
      height: auto; }
@media (min-width: 768px) {
  .site-eduprivada #microsite_panel .slide .pane-content > .menu li.parent_menu {
    width: 100%; } }
@media (max-width: 767px) {
  .site-eduprivada #microsite_panel .slide .pane-content > .menu li.parent_menu {
    width: 100%; }
    .site-eduprivada #microsite_panel .slide .pane-content > .menu li.parent_menu > a, .site-eduprivada #microsite_panel .slide .pane-content > .menu li.parent_menu > .children_menu li a {
      padding: 10px 15px !important; } }

/**
 * Slider Styles
 * --------------------------------------------------
 */
.site-eduprivada #edu_privada_home_slider {
  overflow: hidden;
  height: 100%;
  padding-top: 10px; }
  .site-eduprivada #edu_privada_home_slider .views-slideshow-controls-text-pause {
    display: none; }
  .site-eduprivada #edu_privada_home_slider .views_slideshow_controls_text_next {
    float: right; }
    .site-eduprivada #edu_privada_home_slider .views_slideshow_controls_text_next a {
      color: transparent;
      padding-bottom: 35px;
      background: url("http://52.37.84.217/edu-privada/img/img-spritesheet.png") no-repeat -59px -1px; }
      .site-eduprivada #edu_privada_home_slider .views_slideshow_controls_text_next a:hover {
        background-position: -59px -55px !important; }
  .site-eduprivada #edu_privada_home_slider .views-slideshow-controls-text-previous a {
    color: transparent;
    padding-bottom: 35px;
    background: url("http://52.37.84.217/edu-privada/img/img-spritesheet.png") no-repeat -6px -1px; }
    .site-eduprivada #edu_privada_home_slider .views-slideshow-controls-text-previous a:hover {
      background-position: -6px -55px !important; }
  .site-eduprivada #edu_privada_home_slider .views_slideshow_slide, .site-eduprivada #edu_privada_home_slider .views_slideshow_slide img {
    width: 100% !important; }
  .site-eduprivada #edu_privada_home_slider .views_slideshow_slide label {
    color: white;
    font-size: 36px; }
  .site-eduprivada #edu_privada_home_slider .views_slideshow_slide .views-field-body .field-content p {
    color: white !important;
    background-color: rgba(255, 255, 255, 0) !important; }
  .site-eduprivada #edu_privada_home_slider .views_slideshow_slide .field-content p {
    font-size: 13px;
    margin: 0 25% 20px 0 !important; }
  .site-eduprivada #edu_privada_home_slider .views_slideshow_slide > div {
    position: relative; }
    .site-eduprivada #edu_privada_home_slider .views_slideshow_slide > div .views-field-body {
      position: absolute;
      bottom: 0;
      width: 100%;
      left: 0;
      background-color: rgba(0, 0, 0, 0.6);
      padding: 0 15px 15px;
      color: white;
      height: 20%; }
      .site-eduprivada #edu_privada_home_slider .views_slideshow_slide > div .views-field-body h4 {
        color: white;
        text-transform: none;
        font-weight: 400;
        font-size: 14px;
        margin: 0; }
      .site-eduprivada #edu_privada_home_slider .views_slideshow_slide > div .views-field-body p {
        color: white !important; }
    .site-eduprivada #edu_privada_home_slider .views_slideshow_slide > div .views-field-php {
      position: absolute;
      bottom: 15%;
      left: 10%; }
    .site-eduprivada #edu_privada_home_slider .views_slideshow_slide > div .btn-info {
      color: white;
      border: 2px solid white; }
      .site-eduprivada #edu_privada_home_slider .views_slideshow_slide > div .btn-info:hover {
        color: #5b5b5b !important;
        border: 2px solid #5b5b5b !important; }
        .site-eduprivada #edu_privada_home_slider .views_slideshow_slide > div .btn-info:hover span {
          background: url("http://52.37.84.217/edu-privada/img/img-spritesheet.png") no-repeat -105px -200px !important; }
      .site-eduprivada #edu_privada_home_slider .views_slideshow_slide > div .btn-info span {
        height: 27px;
        width: 27px;
        margin-left: 15px;
        float: right;
        background: url("http://52.37.84.217/edu-privada/img/img-spritesheet.png") no-repeat -174px -25px; }
  .site-eduprivada #edu_privada_home_slider .views-more-link {
    color: #EBA95E;
    padding: 4px 25px;
    font-weight: 600; }
  .site-eduprivada #edu_privada_home_slider .views-field-title {
    position: absolute;
    bottom: 20%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6); }
    .site-eduprivada #edu_privada_home_slider .views-field-title h1 {
      margin: 0;
      padding: 15px 15px 0; }
      .site-eduprivada #edu_privada_home_slider .views-field-title h1 * {
        color: white;
        font-weight: 600;
        font-size: 18px;
        display: block;
        border-bottom: 1px solid white;
        text-align: left; }
  .site-eduprivada #edu_privada_home_slider .skin-default {
    position: relative; }
  .site-eduprivada #edu_privada_home_slider .views-slideshow-controls-top {
    position: absolute;
    top: 43%;
    width: 100%;
    z-index: 10;
    padding: 0 15px; }
  @media (max-width: 767px) {
    .site-eduprivada #edu_privada_home_slider .views_slideshow_slide > div .views-field-php, .site-eduprivada #edu_privada_home_slider .views_slideshow_slide > div .views-field-body {
      display: none; }
    .site-eduprivada #edu_privada_home_slider .views_slideshow_slide > div .views-field-title {
      bottom: 0;
      height: 60px;
      padding: 0 65px; } }

/**
 * Tables Styles
 * --------------------------------------------------
 */
.th-text-styles, .site-eduprivada .content table thead th, .site-eduprivada .content table thead th a, .site-eduprivada .content table thead th a:hover, .site-eduprivada .content table thead th:hover {
  text-decoration: none;
  color: white;
  text-shadow: none;
  font-size: 15px;
  font-weight: 600; }

.site-eduprivada .content .table-responsive {
  width: 95%;
  margin: auto;
  margin-bottom: 15px;
  border: none; }
  .site-eduprivada .content .table-responsive tbody tr {
    border-bottom: none; }
    .site-eduprivada .content .table-responsive tbody tr:nth-child(odd) {
      background: #b8dcef; }
    .site-eduprivada .content .table-responsive tbody tr:nth-child(even) {
      background: #9fcfea; }
    .site-eduprivada .content .table-responsive tbody tr:hover {
      background: #4470B3;
      -webkit-transition: all 150ms ease-out;
      -moz-transition: all 150ms ease-out;
      -ms-transition: all 150ms ease-out;
      -o-transition: all 150ms ease-out;
      transition: all 150ms ease-out; }
      .site-eduprivada .content .table-responsive tbody tr:hover * {
        color: white !important; }
      .site-eduprivada .content .table-responsive tbody tr:hover th, .site-eduprivada .content .table-responsive tbody tr:hover td {
        color: white;
        -webkit-transition: all 150ms ease-out;
        -moz-transition: all 150ms ease-out;
        -ms-transition: all 150ms ease-out;
        -o-transition: all 150ms ease-out;
        transition: all 150ms ease-out; }
    .site-eduprivada .content .table-responsive tbody tr th, .site-eduprivada .content .table-responsive tbody tr td {
      padding: 15px !important;
      vertical-align: middle !important;
      color: black; }
    .site-eduprivada .content .table-responsive tbody tr td:last-child {
      min-width: 100px; }
  .site-eduprivada .content .table-responsive td > a {
    color: #243268;
    display: inline-block; }
  .site-eduprivada .content .table-responsive table tr th {
    text-shadow: none;
    vertical-align: middle; }
  .site-eduprivada .content .table-responsive tr, .site-eduprivada .content .table-responsive tr.even {
    border-bottom: 0px;
    border-top: 0px; }
  .site-eduprivada .content .table-responsive tfoot tr td:last-child {
    border-right: none; }
  .site-eduprivada .content .table-responsive tfoot td {
    padding: 3px 3px 3px 3px; }
  @media screen and (max-width: 767px) {
    .site-eduprivada .content .table-responsive .table > tbody > tr > td, .site-eduprivada .content .table-responsive .table > tbody > tr > th, .site-eduprivada .content .table-responsive .table > tfoot > tr > td, .site-eduprivada .content .table-responsive .table > tfoot > tr > th, .site-eduprivada .content .table-responsive .table > thead > tr > td, .site-eduprivada .content .table-responsive .table > thead > tr > th {
      white-space: normal; } }
.site-eduprivada .content table > thead {
  -webkit-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  -ms-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px; }
  .site-eduprivada .content table > thead > tr > th {
    background: #0b204e;
    padding: 15px; }
    .site-eduprivada .content table > thead > tr > th:first-child {
      border-top-left-radius: 15px;
      border: none; }
    .site-eduprivada .content table > thead > tr > th:last-child {
      border-top-right-radius: 15px;
      border: none; }
.site-eduprivada .content .table-bordered {
  border: none; }
  .site-eduprivada .content .table-bordered > thead > tr > td, .site-eduprivada .content .table-bordered > thead > tr > th {
    border-bottom: none; }

/**
 * Buttons Styles
 * --------------------------------------------------
 */
.site-eduprivada .btn {
  background: #1A254E;
  color: white;
  font-weight: 600;
  border: none; }
  .site-eduprivada .btn:hover {
    background: #6EA7D5 !important;
    border: none; }
.site-eduprivada .icon-button {
  background: #EBA95E;
  padding: 10px 16px 10px 50px;
  position: relative; }
  .site-eduprivada .icon-button span {
    background: url("http://52.37.84.217/edu-privada/img/img-spritesheet.png") no-repeat;
    height: 45px;
    width: 45px;
    position: absolute;
    left: 0;
    top: 0; }
.site-eduprivada .pdf-button span {
  background-position: -133px -6px; }
.site-eduprivada .excel-button span {
  background-position: -133px -62px; }
.site-eduprivada .more-info-button span {
  background-position: -189px -6px; }
.site-eduprivada .table button {
  white-space: normal; }

/**
 * Modals Styles
 * --------------------------------------------------
 */
.site-eduprivada .modal .modal-content {
  border-radius: 16px;
  border: 3px solid #858585;
  overflow: hidden; }
.site-eduprivada .modal .modal-header {
  background: white;
  border-radius: 15px 15px 0 0;
  border: none;
  padding: 15px 15px 0; }
  .site-eduprivada .modal .modal-header h3 {
    color: white;
    font-size: 22px;
    padding: 0 15px;
    margin: 0; }
  .site-eduprivada .modal .modal-header .close {
    background: rgba(255, 255, 255, 0.8);
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 3px solid #858585;
    line-height: 0;
    color: #858585;
    font-size: 30px;
    padding-bottom: 6px;
    opacity: 1; }
    .site-eduprivada .modal .modal-header .close:hover {
      opacity: 0.5; }
.site-eduprivada .modal .modal-body {
  background: white;
  padding: 0 15px 15px; }
  .site-eduprivada .modal .modal-body h4 {
    text-transform: none;
    font-size: 19px;
    font-weight: 700;
    margin: 0 15px 15px 15px;
    color: #1A254E !important; }
  .site-eduprivada .modal .modal-body p {
    border-top: 1px solid white;
    margin: -1px 15px !important;
    padding: 15px 0;
    color: black !important; }
    .site-eduprivada .modal .modal-body p:not(:last-child) {
      border-bottom: 1px solid white; }
.site-eduprivada .modal .modal-footer > * {
  width: 25%;
  height: 50px; }
.site-eduprivada .modal .modal-footer .bienestar-laboral-logo {
  float: left;
  background: url("http://52.37.84.217/edu-privada/img/logo-bienestarlaboral.png") no-repeat center/contain; }
.site-eduprivada .modal .modal-footer .new-country-logo {
  background: url("http://52.37.84.217/edu-privada/img/logo-nuevopais.png") no-repeat center/contain; }
.site-eduprivada .modal .modal-footer .mineducacion-logo {
  background: url("http://52.37.84.217/edu-privada/img/logo-mineducacion.png") no-repeat center/contain; }
.site-eduprivada .modal .modal-footer .new-country-logo, .site-eduprivada .modal .modal-footer .mineducacion-logo {
  float: right; }
@media (max-width: 767px) {
  .site-eduprivada .modal .modal-footer > * {
    width: 33% !important; } }

/**
 * Tabs Styles
 * --------------------------------------------------
 */
.site-eduprivada .tabs-content {
  margin: 20px 0; }
.site-eduprivada ul.nav.nav-tabs {
  display: flex; }
  .site-eduprivada ul.nav.nav-tabs a {
    color: #061236;
    font-weight: 600; }
  .site-eduprivada ul.nav.nav-tabs li.active a {
    background-color: white;
    color: #EBA95E; }
.site-eduprivada .tab-content {
  background-color: white; }
.site-eduprivada div .tab-pane.fade {
  padding: 10px; }
.site-eduprivada .quicktabs-wrapper {
  margin: 20px 0; }
  .site-eduprivada .quicktabs-wrapper .quicktabs-tabs {
    overflow: visible;
    border: none;
    height: auto; }
    .site-eduprivada .quicktabs-wrapper .quicktabs-tabs li {
      padding: 10px 15px !important;
      border-bottom: 1px solid lightgray; }
      .site-eduprivada .quicktabs-wrapper .quicktabs-tabs li a, .site-eduprivada .quicktabs-wrapper .quicktabs-tabs li a:hover {
        color: #061236;
        font-weight: 600;
        font-size: 14px; }
      .site-eduprivada .quicktabs-wrapper .quicktabs-tabs li a:hover {
        text-decoration: underline; }
      .site-eduprivada .quicktabs-wrapper .quicktabs-tabs li.active {
        top: 0;
        border: 1px solid lightgray !important;
        border-bottom: 3px solid white !important;
        padding: 9px 15px !important;
        position: relative !important; }
        .site-eduprivada .quicktabs-wrapper .quicktabs-tabs li.active a {
          border: none;
          color: #EBA95E;
          text-decoration: blink; }
  .site-eduprivada .quicktabs-wrapper .quicktabs_main {
    border-top: 1px solid lightgray;
    top: -1px;
    position: relative;
    padding: 15px; }
  @media (max-width: 767px) {
    .site-eduprivada .quicktabs-wrapper .quicktabs-tabs li {
      height: auto;
      width: auto; } }

/**
* Accordion Styles
* --------------------------------------------------
*/
.site-eduprivada .panel-default > .panel-heading {
  padding: 0px !important; }
  .site-eduprivada .panel-default > .panel-heading > a {
    padding: 10px 15px;
    display: block;
    text-align: initial;
    text-decoration: none;
    border-radius: 8px 8px 5px 5px; }
    .site-eduprivada .panel-default > .panel-heading > a[aria-expanded="true"] {
      background-color: #1A254E !important; }
      .site-eduprivada .panel-default > .panel-heading > a[aria-expanded="true"] h4 {
        font-weight: 700; }
    .site-eduprivada .panel-default > .panel-heading > a > h4 {
      color: white;
      margin: 0px !important;
      font-weight: 500; }
.site-eduprivada .panel-default:nth-child(odd) > .panel-heading > a {
  background-color: #6EA7D5; }
.site-eduprivada .panel-default:nth-child(even) > .panel-heading > a {
  background-color: #4470b3; }
.site-eduprivada .panel-default .panel-collapse {
  margin: -3px 0; }
  .site-eduprivada .panel-default .panel-collapse .panel-body {
    border-top: none;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    padding: 18px 15px; }
.site-eduprivada .panel {
  border: none; }
  .site-eduprivada .panel .panel-default {
    border-radius: 10px; }
.site-eduprivada .panel-group .panel + .panel {
  margin-top: 0px; }
.site-eduprivada .ui-accordion .ui-icon {
  display: none; }
.site-eduprivada .ui-accordion .views-row {
  border-radius: 8px; }
  .site-eduprivada .ui-accordion .views-row .views-field-title {
    border: none;
    margin: 0;
    background: none !important;
    border-radius: 8px 8px 0 0; }
    .site-eduprivada .ui-accordion .views-row .views-field-title a {
      text-align: left;
      padding: 10px 15px;
      line-height: 100%; }
      .site-eduprivada .ui-accordion .views-row .views-field-title a .field-content {
        color: white;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 16px; }
  .site-eduprivada .ui-accordion .views-row:nth-child(odd) {
    background: #6EA7D5 !important; }
  .site-eduprivada .ui-accordion .views-row:nth-child(even) {
    background: #4470b3 !important; }
  .site-eduprivada .ui-accordion .views-row .ui-state-active {
    background: #1A254E !important; }
    .site-eduprivada .ui-accordion .views-row .ui-state-active .field-content {
      font-weight: 700 !important; }

/**
 * Lateral Menu Styles
 * --------------------------------------------------
 */
.site-eduprivada .main-lateral-panel {
  padding-right: 0px;
  padding-top: 10px; }
  .site-eduprivada .main-lateral-panel .pane-content ul {
    background-color: #868686 !important;
    border-radius: 10px 0px 0px 10px; }
    .site-eduprivada .main-lateral-panel .pane-content ul > li {
      width: 100%; }
      .site-eduprivada .main-lateral-panel .pane-content ul > li:hover {
        background-color: #3c3c3a; }
      .site-eduprivada .main-lateral-panel .pane-content ul > li > a {
        padding: 10px 0px !important; }
        .site-eduprivada .main-lateral-panel .pane-content ul > li > a:hover {
          text-decoration: none !important; }

/**
 * Pager Styles
 * --------------------------------------------------
 */
.site-eduprivada .content .pager li > a {
  padding: 0;
  border-radius: 0;
  border: none;
  background-color: white;
  font-weight: bold;
  color: black; }
.site-eduprivada .content .pager .pager-current {
  background-color: white;
  color: #DE3A73;
  width: 40px; }
.site-eduprivada .content .pager .pager-first a, .site-eduprivada .content .pager .pager-previous a, .site-eduprivada .content .pager .pager-next a, .site-eduprivada .content .pager .pager-last a {
  background: url("http://52.37.84.217/edu-privada/img/img-pager-spritesheet.png"); }
.site-eduprivada .content .pager .pager-first a {
  background-position: 3px -20px; }
.site-eduprivada .content .pager .pager-previous a {
  background-position: 3px 3px; }
.site-eduprivada .content .pager .pager-next a {
  background-position: -20px 3px; }
.site-eduprivada .content .pager .pager-last a {
  background-position: -21px -20px; }
.site-eduprivada .pager-previous + .pager-item:before, .site-eduprivada .pager-item + .pager-current:before,
.site-eduprivada .pager-current + .pager-item:before, .site-eduprivada .pager-item + .pager-item:before,
.site-eduprivada .pager-item + .pager-next:before {
  content: " | ";
  color: black;
  font-weight: bold; }
.site-eduprivada .pager-item + .pager-current:before {
  padding-right: 7px; }

/**
 * Home Menu Styles
 * --------------------------------------------------
 */
.site-eduprivada .home-menu .view-content .views-row {
  display: inline-block; }
  .site-eduprivada .home-menu .view-content .views-row a {
    background: white;
    display: block;
    padding: 15px 15px 30px;
    border-radius: 7px;
    color: #1f0d2e;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    -webkit-box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.25); }
  .site-eduprivada .home-menu .view-content .views-row img {
    padding-bottom: 20px; }
@media (min-width: 992px) {
  .site-eduprivada .home-menu {
    top: 50%;
    position: absolute; } }
@media (max-width: 991px) {
  .site-eduprivada .home-menu {
    margin-top: -9vw; } }
@media (min-width: 768px) {
  .site-eduprivada .home-menu .view-content {
    display: flex;
    align-items: baseline; }
    .site-eduprivada .home-menu .view-content .views-row {
      width: 30%; }
      .site-eduprivada .home-menu .view-content .views-row:first-child {
        margin: 0 2% 2% 6%; }
      .site-eduprivada .home-menu .view-content .views-row:nth-child(2) {
        margin: 0 2% 2%; }
      .site-eduprivada .home-menu .view-content .views-row:last-child {
        margin: 0 6% 2% 2%; }
      .site-eduprivada .home-menu .view-content .views-row a {
        min-height: 330px; } }
@media (max-width: 767px) {
  .site-eduprivada .home-menu .view-content .views-row {
    width: 100%;
    margin: 0 0 4%; }
    .site-eduprivada .home-menu .view-content .views-row a {
      width: 70%;
      margin: auto;
      max-width: 400px; } }

/*# sourceMappingURL=site-styles.css.map */
