/**
 * Buttons Styles
 * --------------------------------------------------
 */
 .#{$site-name} {
     .btn {
         background: $buttons-bg-color;
         color: white;
         font-weight: 600;
         border: none;

         &:hover {
            background: $accordion-odd-bg !important;
            border: none;
         }
     }
     .icon-button {
        background: $link-text-color;
        padding: 10px 16px 10px 50px;
        position: relative;

        span {
            background: url("#{$images-path}img-spritesheet.png") no-repeat;
            height: 45px;
            width: 45px;
            position: absolute;
            left: 0;
            top: 0;
        }
     }

     .pdf-button {
         span {
            background-position: -133px -6px;
         }
     }
     .excel-button {
         span {
            background-position: -133px -62px;
         }
     }
     .more-info-button {
         span {
            background-position: -189px -6px;
         }
     }
     .table {
          button {
              white-space: normal;
          }
      }
      .cpa-button {
          background: url("#{$images-path}img_cpa.jpg") no-repeat 0 / contain;
      }
      .complementary-contents-button {
          background: url("#{$images-path}img_contenidosComplementarios.jpg") no-repeat 0 / contain;
      }
      .cpa-button, .complementary-contents-button {
          color: transparent;
          margin: 0 -15px;
          height: 85px;
          position: relative;

          &:hover:before {
              content: "";
              display: block;
              height: 100%;
              width: 100%;
              position: absolute;
              top: 0;
              left: 0;
              background: rgba(255, 255, 255, 0.1);
          }
      }
}
