/**
 * Buttons Styles
 * --------------------------------------------------
 */
 .#{$site-name} {
     .btn {
         background: $buttons-bg-color;
         color: white;
         font-weight: 600;
         border: none;

         &:hover {
            background: $accordion-odd-bg !important;
            border: none;
         }
     }
     .icon-button {
        background: $link-text-color;
        padding: 10px 16px 10px 50px;
        position: relative;

        span {
            background: url("#{$images-path}img-spritesheet.png") no-repeat;
            height: 45px;
            width: 45px;
            position: absolute;
            left: 0;
            top: 0;
        }
     }

     .pdf-button {
         span {
            background-position: -133px -6px;
         }
     }
     .excel-button {
         span {
            background-position: -133px -62px;
         }
     }
     .more-info-button {
         span {
            background-position: -189px -6px;
         }
     }
     .table {
          button {
              white-space: normal;
          }
      }
      .cpa-button {
          background-image: url("#{$images-path}img_cpa.jpg") !important;
      }
      .complementary-contents-button {
          background-image: url("#{$images-path}img_contenidosComplementarios.jpg") !important;
      }
      .cpa-button, .complementary-contents-button {
          color: transparent !important;
          position: relative;

          &:hover:before {
              content: "";
              display: block;
              height: 100%;
              width: 100%;
              position: absolute;
              top: 0;
              left: 0;
              background: rgba(white, 0.2);
          }
      }
      @media (min-width: 992px) {
          .cpa-button, .complementary-contents-button {
              margin: 0 -15px;
              height: 95px;
              background: no-repeat center / cover;
              border-top: 15px solid #b6d0d2 !important;
          }
      }
      @media (min-width: 501px) and (max-width: 991px) {
          .cpa-button, .complementary-contents-button {
              height: 12vw;
              margin: 15px 0;
              background: no-repeat center / contain;
          }
      }
      @media (max-width: 500px) {
          .cpa-button, .complementary-contents-button {
              height: 25vw;
              margin: 15px 0;
              background: no-repeat center / contain;
          }
      }
}
