/**
 * General Styles
 * --------------------------------------------------
 */

.content-styles {
    background: white;
    border-radius: 7px;
    margin: 15px 0;
    padding-bottom: 15px;
}
 .#{$site-name} {
     .main_container {
        @include main-background-properties($site-bg, $site-bg-shadow);
     }
     #microsite_panel {
         background-color: $content-bg;
         min-height: 820px;
         position: relative;
     }
     .content {
         p {
             a {
               text-decoration: underline;
               cursor: pointer;
               color: $link-text-color;

               &:hover {
                  color: $link-text-hover;
               }
             }
         }
     }
     .section_content {
        .breadcrumb {
           margin-bottom: 0px;
           height: 40px;
        }
        p {
          margin-top: 10px !important;
          color: $paragraph-text-color !important;
          padding: 0 5px;
        }
     }
     .bordered-div {
         border: 1px solid gray;
         padding: 15px;
         margin: 15px 0;
     }
     .home-content, .general-content, .lateral-content {
         @extend .content-styles;

        .view-content {
            ul, ol {
                padding-left: 40px !important;

                li {
                    margin-top: 10px !important;
                }
            }
            ol {
                li {
                    list-style: decimal !important;
                }
            }
            ul {
                li {
                    list-style: disc !important;
                }
            }
        }
     }
     .general-content {
        img {
            float: left;
            margin: 15px 15px 15px 5px;
        }
        .btn {
            white-space: normal;
            color: white !important;
            text-decoration: blink !important;
            min-height: 75px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 1px;

            &.col-sm-3 {
                width: 24%;
            }
        }
     }
     .lateral-content {
          h3 {
             text-align: center;
             display: block;
             width: 100%;
             font-weight: 600 !important;
          }
          .views-more-link {
             display: block;
             color: $link-text-color;
             margin: 5px 0 10px;
          }
          .view-content .views-row:not(:first-child) {
             border-top: 1px solid $link-text-color;
          }
          .lateral-buttons {
              a {
                  width: 100%;
                  height: 70px;
                  white-space: normal;
                  margin-top: 15px;
                  padding-left: 75px;
                  text-align: left;
                  position: relative;
                  display: flex;
                  align-items: center;

                  span {
                    position: absolute;
                    height: 100%;
                    width: 70px;
                    top: 0;
                    left: 0;
                    background: url('http://52.37.84.217/edu-privada/img/img-spritesheet.png') no-repeat;
                  }
                  &:first-child {
                      span {
                          background-position: -12px -102px;
                      }
                  }
                  &:last-child {
                      span {
                          background-position: -112px -102px;
                      }
                  }
              }
          }

     }
     .resources-edu-privada{
          a {
            text-decoration: none !important;

          }
      }
     .registration-content {
        .row > * {
            text-align: center;
            margin: 15px 0;
        }
     }
     .media {
        margin: 30px 0;

        .media-left {
            a {
                width: 110px;
                display: block;
            }
        }
        .media-body {
            .media-heading {
                margin-top: 0 !important;
            }
        }
     }

     @media (min-width: 1100px) {
         .main_container {
              .section_content {
                  width: 1024px !important;
              }
          }
     }
     @media (min-width: 992px) {
         .lateral-content {
            width: 22%;
            margin-left: 15px;

            a {
                font-size: 16px;
            }
         }
     }
     @media (min-width: 992px) and (max-width: 1024px) {
         #microsite_panel {
           overflow: hidden;
         }
     }
     @media (min-width: 768px) {
         .content {
            .modal-dialog {
               width: 600px;
               margin: 15% auto;
            }
         }
         .row-center-sm {
             display: flex;
             align-items: center;
         }
     }
     @media (min-width: 768px) and (max-width: 1024px){
         #banner .view .view-content {
             margin-bottom: 0 !important;
         }
     }
     @media (max-width: 767px){
         .section_container.no_left_sidebar .section_content {
            width: 100% !important;
         }
     }
     @media (max-width: 500px){
         .general-content {
             img {
                margin: 15px 0 !important;
                width: 100%;
             }
         }
     }
 }
