/**
 * Main Menu Styles
 * --------------------------------------------------
 */
 .#{$site-name} {
   #microsite_panel {
      .slide {
          .pane-content {
              & > .menu {
                  background-color: $main-menu-bg !important;
                  padding: 5px 15px;
                  border: 1px solid $main-menu-vertical-separator;
                  border-radius: 7px;
                  margin-top: 15px;

                  li {
                      &.parent_menu {
                          &:last-child {
                              & > a {
                                  border: none;

                                  &:hover {
                                      border-bottom: 4px solid $main-menu-vertical-separator;
                                  }
                              }
                          }
                          & > a {
                              border-right: 1px solid $main-menu-horizontal-separator;
                              padding: 10px 5px !important;
                              font-size: 15px !important;
                              text-align: left;
                              color: $home-menu-text-color;
                              font-weight: 700;
                              border-bottom: 4px solid $main-menu-vertical-separator;
                          }
                          & > .children_menu {
                              top: 95%;
                              height: 0px;
                              background: transparent;
                              z-index:100;
                              position: relative;

                              li {
                                  display: block;

                                  & > .menu {
                                      display: none;
                                  }
                                  &:hover > .menu {
                                      /*display: block;*/

                                      & > li > a {
                                          padding-left: 30px !important;
                                      }
                                  }
                                  &:first-child {
                                    border-top: none;
                                  }
                                  &:last-child {
                                    border-bottom:none;
                                  }
                                  a {
                                    background-color: $main-menu-item-bg !important;
                                    border-bottom: 1px solid $main-menu-item-separator !important;
                                    color: $home-menu-text-color !important;
                                    line-height: 14px;
                                    font-size: 14px!important;
                                    height: auto;
                                    padding: 15px;
                                    font-weight: 600;

                                    &:hover {
                                        background: $main-menu-item-hover-bg !important;
                                        color: $main-menu-text-hover !important;
                                        text-decoration: none;
                                        padding: 18px 15px!important;
                                        display: block;
                                        font-weight: 700;
                                        @include transition-properties(all 0.2s ease);
                                    }
                                  }
                              }
                          }
                      }
                      &:hover{
                        color: $main-menu-text-hover;
                        text-decoration: none !important;
                        background-color: rgba($home-menu-text-color, 0.1);
                      }
                      &.expanded {
                          & > a {
                              &:hover {
                                color: $main-menu-text-hover !important;
                                background-color: rgba($home-menu-text-color, 0.1);
                              }
                          }
                      }
                  }
                  &:hover {
                    color: $main-menu-text-hover !important;
                    text-decoration: none !important;
                      li.parent_menu {
                          & > .children_menu {
                            &:hover {
                              background-color: $main-menu-parent-hover-bg;
                              height:auto;
                            }
                            & > a{
                              &:hover{
                                color: $main-menu-text-hover !important;
                                text-decoration: none !important;
                              }
                            }
                          }
                          &:hover {
                            & > .children_menu {
                              /*height:auto;*/
                            }
                          }
                      }
                  }
              }

              @media (min-width: 768px) {
                  & > .menu li.parent_menu {
                      width: 100%;
                  }
              }

              @media (max-width: 767px)
              {
                  & > .menu li.parent_menu {
                      width: 100%;

                      & > a,
                      & > .children_menu li a {
                          padding: 10px 15px !important;
                      }

                  }
              }
          }
      }
   }
}
