/**
 * Relates Sites Styles
 * --------------------------------------------------
 */

.#{$site-name} {
    .related-sites {
        background: $related-sites-bg-color;

        h3 {
            margin-left: 20px;
        }

        div .row {
            & > div {
                height: 150px;
                display: flex;
                align-items: center;
            }
        }
        .site-link {
            display: block;
            width: 100%;
            height: 65px;
        }
        .icfes-link .site-link {
            background: url('#{$images-path}logo_icfes.png') no-repeat center / contain;
        }
        .icetex-link .site-link {
            background: url('#{$images-path}logo_icetex.png') no-repeat center / contain;
        }
        .inci-link .site-link {
            background: url('#{$images-path}logo_inci.png') no-repeat center / contain;
        }
        .insor-link .site-link {
            background: url('#{$images-path}logo_insor.png') no-repeat center / contain;
        }
    }
}
