/**
* Variables
* --------------------------------------------------
*/

$site-name:                        site-eduprivada;
$site-slider:                      edu_privada_home_slider;
$path-site:                        edu-privada;
$images-path:                      "http://52.37.84.217/#{$path-site}/img/";

 // Colors
 // -------------------------------
$site-bg:                         #d5e3e6 !default;
$site-bg-shadow:                  #5d90aa !default;
$content-bg:                      #b7d0d3 !default;
$headers-default-text-color:      #1F2B49 !default;
$h2-text-color:                   #1f0d2e !default;
$main-menu-bg:                    #eef8f8 !default;
$main-menu-parent-hover-bg:       transparent !default;
$main-menu-text-hover:            #1f0d2e !default;
$main-menu-horizontal-separator:  transparent !default;
$main-menu-item-bg:               #eef8f8 !default;
$main-menu-item-hover-bg:         white !default;
$main-menu-item-separator:        rgba(153, 153, 153, 0.4) !default;
$lateral-menu-bg:                 #868686 !default;
$lateral-menu-hover-bg:           #3c3c3a !default;
$slider-btn-info-hover:           #5b5b5b !default;
$table-head-bg:                   #0b204e !default;
$table-odd-row-bg:                #b8dcef !default;
$table-even-row-bg:               #9fcfea !default;
$table-row-hover-bg:              #4470B3 !default;
$table-link-color:                #243268 !default;
$main-lateral-button-border:      #a0a0a0 !default;
$main-lateral-first-btn-bg:       #b31b58 !default;
$main-lateral-second-btn-bg:      #9CC34D !default;
$main-lateral-third-btn-bg:       #66A7DD !default;
$paragraph-text-color:            #666666 !default;
$accordion-odd-bg:                #6EA7D5 !default;
$accordion-even-bg:               #4470b3 !default;
$accordion-selected-bg:           #1A254E !default;
$link-text-color:                 #5b5b5f !default;
$link-text-hover:                 #1f0d2e !default;
$close-line-color:                #858585 !default;
$tabs-text-color:                 #061236 !default;
$current-pager-color:             #DE3A73 !default;
$home-menu-text-color:            #1f0d2e !default;
$main-menu-vertical-separator:    #a7bec2 !default;
$teachers-color:                  #51b701 !default;
$families-color:                  #ff7400 !default;
$researchers-color:               #931c0a !default;
$related-sites-bg-color:          #eaf8f8 !default;
$buttons-bg-color:                #1d4383 !default;
//Measures
// -------------------------------
$main-header-height:              132px;
